<div class="container">
  <img src="https://wallpaperbat.com/img/690671-waves-a-macos-big-sur-inspired-wallpaper-pack.jpg">
  <div class="container-top">
    <div routerLink="/iphone-calculator" class="calculator">
      <h1 class="h1-calc">iPhone Calculator</h1>
      <img src="/assets/images/Screenshot__28_-removebg-preview.png" />
    </div>
    <div routerLink="/currency-converter" class="converter">
      <h1 class="h1-curr">Currency Converter</h1>
      <img src="/assets/images/Screenshot__29_-removebg-preview.png" />
    </div>
    <div routerLink="/sasso-carta-forbice" class="sasso-carta-forbice">
      <h1 class="h1-game">Game "Sasso, Carta, Forbice"</h1>
      <img src="/assets/images/Screenshot__31_-removebg-preview.png" />
    </div>
  </div>
</div>
